a.nav-link {
    color: #2a2b28 !important;
    font-family: Montserrat bold;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.navegacion {
    position: fixed !important;;
    left: 20px !important;;
    top: 30% !important;;
    width: 30px !important;; 
    z-index: 999 !important;
    background-color: none !important;
}

.text1{   
    color: white;
    background: transparent;
    letter-spacing: 10px;
    animation: text 3s 1;
    position: relative;
}

.text2{
    letter-spacing: 5px;
    color: #6ab04c; 
    animation: text1 2.7s 1;   
}

@keyframes text {
    0%{
        color: white;
        margin-bottom: -40px;
    }

    30%{
        letter-spacing: 15px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@keyframes text1 {
    0%{
        color: white;
        opacity: 0;
    }

    30%{
        opacity: 0;
    }
    95%{
        opacity: 0;;
    }
}


html{
    scroll-behavior: smooth;
    /* transition: opactiy 0s; */
}

/*Side Bar */
.palito{
    height: 20px;
    width: 2px;
    background-color: rgb(255, 255, 255);
}

.palitoSelected{
    box-shadow: -2px 0 0 0 rgb(255, 255, 255), 2px 0 0 0 rgb(255, 255, 255);
}


nav {
    color: #fff;
    background-color: #ffffff00;
    width: 100%;
    /* height: 56px; */
    line-height: 25px;    
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

/* Scroll multiple */
/* #fullpage {    
    height: 100vh;
    overflow: hidden;   
}
#fullpage section { height: 100vh;
    }
   */

/* .navegacion a {
    color: black;
} */

/* GENERAL */
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important; 
}


#header {
    position: relative;
    background-color: #1c1e26;
    z-index: -4;
    width: 100%; 
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
    padding: 250px 0;
}

/* .m-next-blue {
    background-color: #1c1e26;
    color: #FFF;
}

.m-next-section {
    position: absolute;
    bottom: 0;
    margin-bottom: -40px;
    left: 50%;
    margin-left: -40px;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 110px;
    border-radius: 40px;
    text-align: center;
    font-size: 40px;
    font-size: 4rem;
} */


/* PRIMERO */
#header{
    /* background-color: #1c1e26; */
   
    z-index: -5;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* background-size: 1111.36px 625px; */
    background-color: transparent;
    /* background-position: -162.682px 0px; */
    background-image: url(./../media/img/mont1.jpeg );
    background-attachment: fixed;
    /* ./../media/img/black.jpg */
}

.hidden{
    color: white;
    text-align: center;
}

/* SEGUNDO */
#segundo{
    background-color: rgb(161, 147, 147);
}

#headerinfo {
    position: relative;
    background-color: #8e92a5;
    z-index: -5;
    height: 100vh;
    width: 100%;  
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
    padding: 250px 0;
}

/* Project section */

body{
    margin: 0px;
    padding: 0px;
}

#myProjects {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
    /* padding: 250px 0; */

    position: relative;
    display: flex;
    height: 100vh;
    /* padding: 50px; */
}

/* #myProjects .screen:hover{
    flex-grow: 4;
    opacity: 1;
}
#myProjects:hover .screen{
    opacity: 0.1;
}
section:hover .screen{
    opacity: 1;
} */

section .screen{
    position: relative;
    flex-grow: 2;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
    transition: 1s;
}

section .screen .content{
    position: absolute;
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.5s;
    text-align: justify
}

section .screen:hover .content{
   transform: translateX(0);
   transition-delay: 300ms;

}

section:hover .screen{
    opacity: 0.1;
}

section .screen:hover{
    flex-grow: 5;
    opacity: 1;
}


section .screen:nth-child(1){ 
    /* background-color: #6ab04c; */
    background-image: url('./../media/img/cocina.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(2){
    /* background-color: #0d8b85; */
    background-image: url('./../media/img/cocina2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(3){
    background-image: url('./../media/img/cocina3.jpg');
    /* background-color: #b0954c; */
    background-repeat: no-repeat;
    background-position: center;
}

.m-image-centered {
    text-align: center;
}

.wrap {
    width: 88%;
    margin: 0 auto;
}



/*ABOUT DEV SECTION */
.img{
    margin-top: 70px;
}

.rrss{
    padding-top: 50px;
}

#titleWork{
    align-content: center;
    text-align: center;
    top: 0%;
    padding-top: 50px;
    margin: 0px;

    color: #363636;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.125;
    word-break: break-word;
    font-family: "eurostile",sans-serif;
}

#subtitleWork{
    align-content: center;
    text-align: center;
    top: 0%;
    padding: 20px 0;
    margin: 0px;

    font-family: "europa",sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a;
    font-size: 1.25rem;

}

.container{
    width: 1200px;
    margin: 20px auto;
    columns: 3;
    column-gap: 40px; 
    padding-bottom: 20px;
    margin-bottom: 0px; 
}


.container .box{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
} 

.container .box img{
    max-width: 100%;
}
.container .box h2{
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}
.container .box p{
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
}

/*Efecto shadow*/
.projects .project-grid figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem;
    color: #fff;
    z-index: 1;
}

.projects .project-grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}

@media (max-width: 1200px){
    .container{
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media (max-width: 768px){
    .container{
        columns: 2;     
    }
}

@media (max-width: 480px){
    .container{
        columns: 1;     
    }
}

img{
    /* height: 150px; */
    /* width: 200px; */
}
#aboutdev{
    background-color: rgb(175, 124, 124);
    position: relative;
    padding: 0;  
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
    /* min-height: 100vh; */
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
}

/* habilities*/
#habilities{
    background-color: rgb(134, 178, 204);
    position: relative;
    z-index: -5;
    width: 100%;
    height: 100vh;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
    padding: 250px 0;

}



/* CONTACTO */

#contacto{
    background-color: rgb(184, 152, 152);
    position: relative;
    z-index: -5;
    width: 100%;
    height: 100vh;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -transition: all ease 1s;
    transition: all ease 1s;
    padding: 250px 0;

}

/* footer  */

.footer{
    background-color: #3f3f3e;
    height: 100px;
}
